body {
	background-color: #000000;
	font-family: arial;
}

a {
	color: #ffffff;
	text-decoration: none;
}

canvas {
	background: #000000;
	border: 1px #cccccc solid;
}

button {
	background: #000000;
	color: #FFFFFF;
	font-size: 23px;
}

.container {
	margin: 30px;
	width: 600px;
	position: relative;
}

#stats {
	width: 590px;
	background: #333333;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: auto;
}
#starting {
	height:200px;
	line-height:200px;
	width:350px;
	top: 100px;
	left: 130px;
}
#game_over {
	display: none;
	width: 590px;
	height: 390px;
	position: absolute;
	padding: 5px;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 5px;
	overflow: auto;
}
.over {
	width: 100%;
	height: 45%;
	padding-top: 10px;
	margin-right: 5px;
	overflow: auto;
}

.test {
	width: 590px;
	background: #e68a00;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 5px;
	overflow: hidden;
}

.score {
	width: 33%;
	height: 50px;
	padding-top: 15px;
	margin-left: 1px;
	float: left;
	overflow: auto;
	background: #e68a00;
	color: #000000;
	text-align: -webkit-center;
}

#reset_score {
	padding: 10px;
	float: right;
}

.hwindow {
	display: none;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 110px;
}

.countdown {
	color: rgba(145, 43, 60,1);
	text-align: center;
	position: absolute;
	top: 100px;
	left: 110px;
    animation-name: example2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


#overlay {
	top: 170px;
	left: 150px;
}

.hwindow a {
	display: block;
	margin-top: 10px;
	padding: 10px;
	background: #666666;
}

#overlay a:hover {
	background: #333333;
}

@keyframes example {
    0%   {top:30px;}
    50%  {top:0px;}
    100% {top:30px;}
}
@keyframes example2 {
    0%		{ font-size:60px;	}
    100%	{ font-size:90px;}
}